/* new version */

#more-cat-link {
    color: white;
}

body {
    font-family: monospace;
    font-size: 90%;
    background-color: black;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h3, h4, ul {
    color: white;
}

h1, h3 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

h4 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 50px;
}

ul {
    display:grid;
    grid-template-columns: 200px 500px;
    align-items: center;
    width: 900px;
    font-size: 15px;
    justify-content: left;
}

ul li {
    font-size: 20px;
    list-style-type: none;
}

main {
    background-color: rgb(57, 0, 65);
    padding: 1px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    transition: 0.5s;
}

main:hover {
    background-color: rgb(134, 0, 134);
    border: outset rgb(134, 0, 134);
    border-width: 5px;
    padding: 20px;
    transition: 0.5s;
}

nav {
    background-color:rgb(241, 85, 255);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content:space-between ;
    transition: 0.5s;
}

nav a{
    font-size: 20px;
    text-decoration-line: none;
}

nav:hover {
    background-color: rgb(126, 0, 119);
}

nav a:hover {
    text-decoration-line:underline;
}

nav a {
    color: white;
}

header {
    background-image: url(imgs/headerBackground.jpg);
    background-size: 1400px;
    background-repeat: no-repeat;
    padding: 50px 200px 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

header:hover {
    transition: 0.5s;
    background-size: 1410px;
}

header {
    border-style: solid;
    border-width: 3px 30px;
    border-color: rgb(250, 106, 255);
}

img {
    position: static;
    transition: 0.5s;
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 30px;
    margin: 10px;
}

img:hover {
    border-radius: 60px;
    padding: 10px;
    transition: 0.1s;
}

p {
    color: white;
    padding: 50px 200px 10px;
    text-align: justify;
    line-height: 20px;
    transition: 0.5s;

}

p:hover {
    transition-delay: 0.3s;
    font-size: 15px;
}

footer {
    background-color: rgb(37, 0, 37);
}


